$global-v-padding: 20px;
$global-h-padding: 29px;

$desktop-global-v-padding: 30px;
$desktop-global-h-padding: 60px;

$font-bold: 700;
$font-light: 400;

$desktop-header-height: 60px;
$header-height: 45px;
$footer-height: 50px;

$min-page-vertical: 533px;

@mixin super-small {
    @media only screen and (max-width: 345px) {
        @content;
    }
}
 
@mixin desktop {
    @media only screen and (min-width: 901px) {
        @content;
    }
}

@mixin link_hover_anim {
    &:hover {
        transform: scale(1.3);
    }
    & a {
        text-decoration: none;        
    }
}