$global-v-padding: 20px;
$global-h-padding: 29px;

$desktop-global-v-padding: 30px;

$font-bold: 700;
$font-light: 400;

$desktop-header-height: 60px;
$header-height: 45px;
$footer-height: 50px;

$min-page-vertical: 533px;