@use "common" as cm;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


main {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;

    width: 100%;
    height: calc(100% - #{cm.$footer-height} - #{cm.$header-height});
    min-height: cm.$min-page-vertical - cm.$footer-height - cm.$header-height - 2 * cm.$global-v-padding;

    #title {
        width: 100%;
        h1 {
            font-size: 30px;
            font-weight: cm.$font-bold;
        }
        h2 {
            font-size: 15px;
            font-weight: cm.$font-light;
        }
    }

}
