@use "common" as cm;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include cm.min-map {
        justify-content: space-between;
    }
    align-items: center;

    width: 100%;
    height: calc(100% - #{cm.$footer-height} - #{cm.$header-height});

    .contacts {
        h1 {
            font-size: 3rem;
            font-weight: cm.$font-bold;
            padding-bottom: 0.5rem;

            @include cm.desktop {
                font-weight: cm.$font-light;
                font-size: 4rem;
                padding-bottom: 2rem;
            }
        }
        span {
            font-size: 1.3rem;
            line-height: 2rem;
            ul {
                li {
                    text-indent: 3rem;
                    list-style: none;
                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    iframe {
        display: none;
        @include cm.min-map {
            height: 60%;
            width: 50%;
            display: initial;
        }
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}