@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$global-v-padding: 20px;
$global-h-padding: 29px;

$font-bold: 700;
$font-light: 400;

$header-height: 45px;
$footer-height: 50px;

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

@mixin super-small {
    @media only screen and (max-width: 345px) {
        @content;
    }
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-position: 50% 0;
    background-size: auto;
    background-repeat: no-repeat;
}


#container {
    position: absolute;
    top: 0;
    left: 0;
    margin: $global-v-padding $global-h-padding;
    width: calc(100vw - 2 * #{$global-h-padding});
    height: calc(100vh - 2 * #{$global-v-padding});
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header-height;

    img {
        height: 100%;
    }
    div {
        font-size: 20px;;
    }
}

main {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;

    width: 100%;
    height: calc(100vh - #{$footer-height} - #{$header-height});


    #title {
        width: 100%;
        h1 {
            font-size: 30px;
            font-weight: $font-bold;
        }
        h2 {
            font-size: 15px;
            font-weight: $font-light;
        }
    }

    form {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        min-height: 150px;
        width: 100%;
        max-width: 500px;
        
        label {
            font-size: 26px;
        }
        input, button {
            border: none !important;
            border-radius: 4px;
            padding: 12px 14px;
        }
        input {
            color: #1d1d1d;
            font-size: 18px;
            width: 100%;
        }
        input::placeholder {
            color: #878787;
        }
        button {
            background-color: #26B2C6;
            font-weight: $font-bold;
            font-size: 18px;
            &:hover {
                background-color: #118da0;
            }
            &:active {
                background-color: #0a6a79;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: $footer-height;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        flex-flow: column;
        align-items: center;
        img {
            width: 30px;
            height: 30px;
        }
        span {
            font-weight: $font-light;
            @include super-small() {
                display: none;
            }
        }
        &:active {
            border-radius: 30px;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}