@use "common" as cm;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core";


main {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;

    width: 100%;
    height: calc(100% - #{cm.$footer-height} - #{cm.$header-height});
    // min-height: cm.$min-page-vertical - cm.$footer-height - cm.$header-height - 2 * cm.$global-v-padding;
    
    #content {
        margin: 1rem 0;
        overflow: auto;
        width: 100%;
        max-width: 800px;
        max-height: 100%;
        h1 {
            font-size: 3rem;
            font-weight: cm.$font-bold;

            @include cm.desktop {
                font-weight: cm.$font-light;
                font-size: 4rem;
                line-height: 4rem;
            }
        }
    }
}
.glide__slide {
    h2 {
        padding-bottom: 1rem;
    }
    p {
        font-size: 1rem;
        font-weight: cm.$font-light;
        @include cm.desktop {
            font-size: 1.3rem;
            line-height: 1.6rem;
        }
    }
    li {
        list-style-position: inside;
        margin-left: 1rem;
    }
}

.glide__bullets {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.glide__bullet {
    width: 100%;
    height: 60px;
    padding-top: 28px;
    .line {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: white;
    }
}

.glide__bullet:hover {
    .line {
        background-color: #74a9c2;
    }
}

.glide__bullet--active {
    .line {
        background-color: #1883b9;
    }
}