<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Комвик</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/contacts.css">
</head>
<body>
    <div id="container">
        <header>
            <img src="img/logo.svg" alt="Komvick" srcset="">
            <nav>
                <ul>
                    <li><a href="index_{{lang}}.html">{{main}}</a></li>
                    <li><a href="about_{{lang}}.html">{{about}}</a></li>
                    <li><a href="services_{{lang}}.html">{{services}}</a></li>
                    <li><a href="contacts_{{lang}}.html">{{contacts}}</a></li>
                </ul>
            </nav>
            <div>
                <a href="contacts_{{lang_other}}.html"><strong>{{lang}}</strong> | {{lang_other}} </a>
            </div>
        </header>
        <main>
            <!-- <h1>
                {{contacts}}
            </h1>
            <div class="card">
                <div class="contacts">
                    {{contacts2.html}}
                </div>
                <iframe src="https://yandex.ru/map-widget/v1/-/CCQpFAqG9B"
                frameborder="0" allowfullscreen="true"></iframe>
            </div> -->
            <div class="contacts">
                <h1>
                    {{contacts}}
                </h1>
                <span>
                    {{contacts2.html}}
                </span>
            </div>
            <iframe src="https://yandex.ru/map-widget/v1/-/CCQpFAqG9B"
            frameborder="0" allowfullscreen="true"></iframe>
        </main>
        <footer id="footer">
            <a href="index_{{lang}}.html">
                <img src="img/home.svg" alt="" srcset="">
                <span>{{main}}</span>
            </a>
            <a href="about_{{lang}}.html">
                <img src="img/about.svg" alt="">
                <span>{{about}}</span>
            </a>
            <a href="services_{{lang}}.html">
                <img src="img/services.svg" alt="">
                <span>{{services}}</span>
            </a>
            <a href="contacts_{{lang}}.html">
                <img src="img/contacts.svg" alt="">
                <span>{{contacts}}</span>
            </a>
        </footer>
    </div>
</body>
</html>